<h2>Product Details</h2>

<div *ngIf="product">
  <h3>{{ product.name }}</h3>
  <h4>{{ product.price | currency }}</h4>
  <p>{{ product.description }}</p>

  <button (click)="addToCart(product)" class="button">
    Buy
  </button>

<!--  <app-product-alert
          [product]="product"
          (notify)="onNotify()">
  </app-product-alert>-->

</div>